@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap');
@import "tailwindcss";

body {
    font-family: "WDXL Lubrifont SC", sans-serif;
    background-color: #000000;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

input, button {
    transition: all 0.2s ease;
}

input::placeholder {
    color: #9ca3af;
}
